@import "~bootstrap/scss/bootstrap";
@import "../../assets/styles/customColors";

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    align-items: center;
}

.body-title-container{
    position: sticky;
    top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: calc(45vh - 82px);
}

.light{
    .body-title-container{
        background-color: $light-theme-bg;
    }
}

.dark{
    .body-title-container{
        background-color: $dark-theme-bg;
    }
}


// Media Queries

@media (orientation: landscape) {
    .body-title{
        font-size: 25px;
    }
    .react-ts-logo{
        width: 200px;
    }
}

@media (orientation: portrait) {
    .body-title{
        font-size: 18px;
    }
    .react-ts-logo{
        width: 100px;
    }
}



.cartoon-cards{
    margin-top: calc(45vh - 82px);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


//Scroll Bar CSS

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.light {

    /* Track */
    ::-webkit-scrollbar-track {
        background: $gray-200;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $gray-500;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $gray-600;
    }

}

.dark {

    /* Track */
    ::-webkit-scrollbar-track {
        background: $gray-800;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $gray-600;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $gray-500;
    }
}