@import "~bootstrap/scss/bootstrap";
@import "../../assets/styles/customColors";

.cartoon{
    &-cards{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        pointer-events: none;
        transition: filter 2s 0s;
    }

    &-card{
        display: flex;
        border-radius: 10px;
        margin: 10px;
        padding: 15px;
        transition: transform 0.4s 0s;
        pointer-events: auto;

        &:hover{
            transform: scale(1.1);
            z-index: 1;
        }
    }

    &-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
    }

    &-genres{
        display: flex;
        flex-direction: row;
    }

    &-genre{
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        border-radius: 20%;
        margin-right: 5px;
        padding: 5px;
    }
}


// Theme Styles

.light{
    .cartoon-card{
        background-color: $light-theme-lighter-bg;
        border: 2px solid $light-theme-border;
        box-shadow: 0 0 3px 6px $light-theme-shadow;
    }

    .cartoon-genre{
        background-color: $light-theme-darker-bg;
    }
}

.dark{
    .cartoon-card{
        background-color: $dark-theme-darker-bg;
        border: 2px solid $dark-theme-border;
        box-shadow: 0 0 3px 3px $dark-theme-shadow;
    }

    .cartoon-genre{
        background-color: $dark-theme-lighter-bg;
    }
}



// Media Queries

@media (orientation: landscape) {
    .cartoon{

        // Blur Other cards on Hover of 1 card
        // &-cards:hover &-card:not(:hover){
        //     filter: blur(2px);
        //     transition: filter 0.2s 0s;
        // }

        &-card{
            flex-direction: row;
            justify-content: flex-start;
            width: 40vw;
        }
    
        &-image{
            height:  100px;
            width: 67px;
        }
    
        &-title{
            font-size: 25px;
            font-weight: 700;
        }
    
        &-year{
            font-size: 12px;
            font-weight: 500;
        }
    }
}

@media (orientation: portrait) {
    .cartoon{
        &-card{
            flex-direction: column;
            align-items: center;
            width: 80vw;
        }
    
        &-image{
            height:  100px;
            width: 67px;
        }
    
        &-info{
            margin: auto;
            text-align: center;
        }
    
        &-title{
            font-size: 15px;
            font-weight: 600;
        }
    
        &-year{
            font-size: 10px;
            font-weight: 500;
            margin: 5px auto;
        }

        &-genres{
            justify-content: center;
        }
    }
}